In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import dask.dataframe as dd

%matplotlib inline

In [16]:
# selecao do subset da base
dc_all = {
    'co_subset':'DADOS/DOCENTES_CO.CSV',
    'nordeste_subset': 'DADOS/DOCENTES_NORDESTE.CSV',
    'norte_subset': 'DADOS/DOCENTES_NORTE.CSV',
    'sudeste_subset': 'DADOS/DOCENTES_SUDESTE.CSV',
    'sul_subset': 'DADOS/DOCENTES_SUL.CSV',
}

for name, dataset in dc_all.items():
    print('Iniciando processo para: ', name)
    for chunk in pd.read_csv(dataset, sep='|',chunksize=30000, low_memory=False):
        #mantém somente os professores de escola pública municipal e estadual
        chunk = chunk.drop(chunk[chunk.TP_DEPENDENCIA == 1].index)
        chunk = chunk.drop(chunk[chunk.TP_DEPENDENCIA == 4].index)

        #elimina os professores que nao sao do Ensino Médio
        chunk = chunk.drop(chunk[chunk.TP_ETAPA_ENSINO < 25].index)
        chunk = chunk.drop(chunk[chunk.TP_ETAPA_ENSINO > 38].index)
        data = data.append(chunk)
    print('Salvando ', name ,' ...')
    data.to_csv(name+'.csv')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
salvando...

In [17]:
su = pd.read_csv('sudeste_subset.csv')

C:\Users\ROBERTO\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [48]:
g = su.groupby('TP_SEXO')
masculino = g.get_group(2)#.iloc[:, 55:81]
masculino.fillna(0, inplace=True)
# masculino.head()

masculino['total'] = masculino.iloc[:, 55:81].sum(axis=1)
# mask = masculino.total >= 2 and masculino.TP_LOCALIZACAO == 1
print(masculino.TP_LOCALIZACAO)
print(masculino.total[masculino.total != 0].max())
print(masculino.total[masculino.total != 0].std())

C:\Users\ROBERTO\Anaconda3\lib\site-packages\pandas\core\frame.py:3790: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
19         1
24         1
25         1
34         1
35         1
36         1
37         1
38         1
41         1
42         1
43         1
47         1
48         1
49         1
50         1
52         1
54         1
55         1
56         1
57         1
58         1
          ..
1201507    1
1201509    1
1201510    1
1201513    1
1201514    1
1201517    1
1201518    1
1201519    1
1201520    1
1201526    1
1201529    1
1201530    1
1201531    1
1201535    1
1201536    1
1201537    1
1201539    1
1201540    1
1201545    1
1201546    1
1201548    1
1201549    1
1201551    1
1201553    1
1201556    1
1201559    1
1201560    1
1201561    1
1201566    1
1201567    1
Name: TP_LOCALIZACAO, Length: 755326, dtype: int64
15.0
0.37380898546213365

C:\Users\ROBERTO\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [2]:
test = pd.read_csv('DADOS/DOCENTES_NORDESTE.CSV', sep='|',chunksize=10000, low_memory=False)
testt = test.get_chunk(10000)

t = testt.groupby('TP_SEXO')
masculino = t.get_group(2).iloc[:, 54:81]
masculino.fillna(0, inplace=True)
masculino['total'] = masculino.sum(axis=1)
# masculino.max()
t.get_group(2).iloc[4302, 54:81].fillna(0).reset_index()

                             index  9944
0                  IN_DISC_QUIMICA   0.0
1                   IN_DISC_FISICA   0.0
2               IN_DISC_MATEMATICA   1.0
3                 IN_DISC_BIOLOGIA   0.0
4                 IN_DISC_CIENCIAS   1.0
5        IN_DISC_LINGUA_PORTUGUESA   1.0
6            IN_DISC_LINGUA_INGLES   0.0
7          IN_DISC_LINGUA_ESPANHOL   0.0
8           IN_DISC_LINGUA_FRANCES   0.0
9             IN_DISC_LINGUA_OUTRA   0.0
10         IN_DISC_LINGUA_INDIGENA   0.0
11                   IN_DISC_ARTES   1.0
12         IN_DISC_EDUCACAO_FISICA   1.0
13                IN_DISC_HISTORIA   1.0
14               IN_DISC_GEOGRAFIA   1.0
15               IN_DISC_FILOSOFIA   0.0
16        IN_DISC_ENSINO_RELIGIOSO   1.0
17         IN_DISC_ESTUDOS_SOCIAIS   0.0
18              IN_DISC_SOCIOLOGIA   0.0
19  IN_DISC_EST_SOCIAIS_SOCIOLOGIA   0.0
20  IN_DISC_INFORMATICA_COMPUTACAO   0.0
21      IN_DISC_PROFISSIONALIZANTE   0.0
22   IN_DISC_ATENDIMENTO_ESPECIAIS   0.0
23    IN_DISC_DIVER_SOCIO_CULTURAL   0.0
24                  IN_DISC_LIBRAS   0.0
25             IN_DISC_PEDAGOGICAS   0.0
26                  IN_DISC_OUTRAS   0.0

In [104]:
dc_all = {
    'CO':'DADOS/DOCENTES_CO.CSV',
    'NORDESTE': 'DADOS/DOCENTES_NORDESTE.CSV',
    'NORTE': 'DADOS/DOCENTES_NORTE.CSV',
    'SUDESTE': 'DADOS/DOCENTES_SUDESTE.CSV',
    'SUL': 'DADOS/DOCENTES_SUL.CSV',
}

f = open('totals.csv','a')
f.write('regiao,masc_total_disc,masc_total,fem_total_disc, fem_total\n')

for nome, dataset in dc_all.items():
    masculino_total_disc = 0
    masculino_total = 0

    feminino_total_disc = 0
    feminino_total = 0

    for chunk in pd.read_csv(dataset, sep='|',chunksize=100000, low_memory=False):
        t = chunk.groupby('TP_SEXO')
    #     t.groups[2].shape[0] + t.groups[1].shape[0]
        masculino = t.get_group(1).iloc[:, 54:81]
        masculino.fillna(0, inplace=True)
        masculino['total'] = masculino.sum(axis=1)
        masculino_total_disc += masculino.total.sum()
        masculino_total += masculino.shape[0]
#         print('Média masculina: ', masculino.total.sum() / masculino.shape[0])

        feminino = t.get_group(2).iloc[:, 54:81]
        feminino.fillna(0, inplace=True)
        feminino['total'] = feminino.sum(axis=1)
        feminino_total_disc += feminino.total.sum()
        feminino_total += feminino.shape[0]

    print(masculino_total_disc, masculino_total, masculino_total_disc/masculino_total)
    print(feminino_total_disc, feminino_total, feminino_total_disc/feminino_total)
    f.write(nome+','+str(masculino_total_disc)+','+str(masculino_total)+','+str(feminino_total_disc)+','+str(masculino_total)+'\n')

1426215.0 1097819 1.299134921148204
3610528.0 2056455 1.7557048415841825
1498528.0 1433350 1.0454724945058778
4134355.0 3271183 1.2638715107042315
639373.0 451402 1.4164159662562417
1150251.0 684248 1.6810440074359005
341313.0 279138 1.2227392902435354
920859.0 626189 1.4705767747437275
483123.0 448964 1.0760840512825083
1808698.0 1402671 1.2894670239849544

In [105]:
f.close()

In [55]:
# CO
t = dc_co.groupby('TP_SEXO')

t.groups[2].shape[0] + t.groups[1].shape[0]
masculino = t.get_group(1).iloc[:, 54:81]
masculino.fillna(0, inplace=True)
masculino['total'] = masculino.sum(axis=1)
print('Média masculina: ', masculino.total.sum() / masculino.shape[0])

feminino = t.get_group(2).iloc[:, 54:81]
feminino.fillna(0, inplace=True)
feminino['total'] = feminino.sum(axis=1)
feminino.total.sum() / feminino.shape[0]
print('Média feminina: ', feminino.total.sum() / feminino.shape[0])

Média masculina:  1.2227392902435354
Média feminina:  1.4705767747437275

In [25]:
# NE
t = dc_co.groupby('TP_SEXO').head()

# t.groups[2].shape[0] + t.groups[1].shape[0]
# masculino = t.get_group(1).iloc[:, 54:81]
# masculino.fillna(0, inplace=True)
# masculino['total'] = masculino.sum(axis=1)
# print('Média masculina: ', masculino.total.sum() / masculino.shape[0])

# feminino = t.get_group(2).iloc[:, 54:81]
# feminino.fillna(0, inplace=True)
# feminino['total'] = feminino.sum(axis=1)
# feminino.total.sum() / feminino.shape[0]
# print('Média feminina: ', feminino.total.sum() / feminino.shape[0])

AttributeError: 'Column not found: head'

AttributeError: 'Column not found: groups'

In [82]:
co = dc_co.groupby('TP_SEXO').CO_PESSOA_FISICA.nunique().head()
print('CO')
print('Sexo 1: ', co[0], 'Sexo 2: ', co[1])

ne = dc_ne.groupby('TP_SEXO').CO_PESSOA_FISICA.nunique().head()
print('NORDESTE')
print('Sexo 1: ', ne[0], 'Sexo 2: ', ne[1])

no = dc_no.groupby('TP_SEXO').CO_PESSOA_FISICA.nunique().head()
print('NORTE')
print('Sexo 1: ', no[0], 'Sexo 2: ', no[1])

so = dc_so.groupby('TP_SEXO').CO_PESSOA_FISICA.nunique().head()
print('SUDOESTE')
print('Sexo 1: ', so[0], 'Sexo 2: ', so[1])

su = dc_su.groupby('TP_SEXO').CO_PESSOA_FISICA.nunique().head()
print('SUL')
print('Sexo 1: ', su[0], 'Sexo 2: ', su[1])

CO
Sexo 1:  36625 Sexo 2:  161354

/home/danilo/anaconda3/lib/python3.5/site-packages/dask/dataframe/core.py:4347: UserWarning: Insufficient elements for `head`. 5 elements requested, only 2 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

NORDESTE
Sexo 1:  164337 Sexo 2:  586687

/home/danilo/anaconda3/lib/python3.5/site-packages/dask/dataframe/core.py:4347: UserWarning: Insufficient elements for `head`. 5 elements requested, only 2 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

NORTE
Sexo 1:  65984 Sexo 2:  161114

/home/danilo/anaconda3/lib/python3.5/site-packages/dask/dataframe/core.py:4347: UserWarning: Insufficient elements for `head`. 5 elements requested, only 2 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

SUDOESTE
Sexo 1:  172058 Sexo 2:  852171
SUL
Sexo 1:  56158 Sexo 2:  347690

/home/danilo/anaconda3/lib/python3.5/site-packages/dask/dataframe/core.py:4347: UserWarning: Insufficient elements for `head`. 5 elements requested, only 2 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [84]:
dc_co.groupby('NU_ANO_CENSO').CO_PESSOA_FISICA.nunique().head()

NU_ANO_CENSO
2017    197979
Name: CO_PESSOA_FISICA, dtype: int64

In [83]:
col_names

['NU_ANO_CENSO',
 'CO_PESSOA_FISICA',
 'NU_DIA',
 'NU_MES',
 'NU_ANO',
 'NU_IDADE_REFERENCIA',
 'NU_IDADE',
 'TP_SEXO',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'CO_PAIS_ORIGEM',
 'CO_UF_NASC',
 'CO_MUNICIPIO_NASC',
 'CO_UF_END',
 'CO_MUNICIPIO_END',
 'TP_ZONA_RESIDENCIAL',
 'IN_NECESSIDADE_ESPECIAL',
 'IN_CEGUEIRA',
 'IN_BAIXA_VISAO',
 'IN_SURDEZ',
 'IN_DEF_AUDITIVA',
 'IN_SURDOCEGUEIRA',
 'IN_DEF_FISICA',
 'IN_DEF_INTELECTUAL',
 'IN_DEF_MULTIPLA',
 'TP_ESCOLARIDADE',
 'TP_NORMAL_MAGISTERIO',
 'TP_SITUACAO_CURSO_1',
 'CO_AREA_CURSO_1',
 'CO_CURSO_1',
 'IN_LICENCIATURA_1',
 'IN_COM_PEDAGOGICA_1',
 'NU_ANO_INICIO_1',
 'NU_ANO_CONCLUSAO_1',
 'TP_TIPO_IES_1',
 'CO_IES_1',
 'TP_SITUACAO_CURSO_2',
 'CO_AREA_CURSO_2',
 'CO_CURSO_2',
 'IN_LICENCIATURA_2',
 'IN_COM_PEDAGOGICA_2',
 'NU_ANO_INICIO_2',
 'NU_ANO_CONCLUSAO_2',
 'TP_TIPO_IES_2',
 'CO_IES_2',
 'TP_SITUACAO_CURSO_3',
 'CO_AREA_CURSO_3',
 'CO_CURSO_3',
 'IN_LICENCIATURA_3',
 'IN_COM_PEDAGOGICA_3',
 'NU_ANO_INICIO_3',
 'NU_ANO_CONCLUSAO_3',
 'TP_TIPO_IES_3',
 'CO_IES_3',
 'IN_DISC_QUIMICA',
 'IN_DISC_FISICA',
 'IN_DISC_MATEMATICA',
 'IN_DISC_BIOLOGIA',
 'IN_DISC_CIENCIAS',
 'IN_DISC_LINGUA_PORTUGUESA',
 'IN_DISC_LINGUA_INGLES',
 'IN_DISC_LINGUA_ESPANHOL',
 'IN_DISC_LINGUA_FRANCES',
 'IN_DISC_LINGUA_OUTRA',
 'IN_DISC_LINGUA_INDIGENA',
 'IN_DISC_ARTES',
 'IN_DISC_EDUCACAO_FISICA',
 'IN_DISC_HISTORIA',
 'IN_DISC_GEOGRAFIA',
 'IN_DISC_FILOSOFIA',
 'IN_DISC_ENSINO_RELIGIOSO',
 'IN_DISC_ESTUDOS_SOCIAIS',
 'IN_DISC_SOCIOLOGIA',
 'IN_DISC_EST_SOCIAIS_SOCIOLOGIA',
 'IN_DISC_INFORMATICA_COMPUTACAO',
 'IN_DISC_PROFISSIONALIZANTE',
 'IN_DISC_ATENDIMENTO_ESPECIAIS',
 'IN_DISC_DIVER_SOCIO_CULTURAL',
 'IN_DISC_LIBRAS',
 'IN_DISC_PEDAGOGICAS',
 'IN_DISC_OUTRAS',
 'IN_ESPECIALIZACAO',
 'IN_MESTRADO',
 'IN_DOUTORADO',
 'IN_POS_NENHUM',
 'IN_ESPECIFICO_CRECHE',
 'IN_ESPECIFICO_PRE_ESCOLA',
 'IN_ESPECIFICO_ANOS_INICIAIS',
 'IN_ESPECIFICO_ANOS_FINAIS',
 'IN_ESPECIFICO_ENS_MEDIO',
 'IN_ESPECIFICO_EJA',
 'IN_ESPECIFICO_ED_ESPECIAL',
 'IN_ESPECIFICO_ED_INDIGENA',
 'IN_ESPECIFICO_CAMPO',
 'IN_ESPECIFICO_AMBIENTAL',
 'IN_ESPECIFICO_DIR_HUMANOS',
 'IN_ESPECIFICO_DIV_SEXUAL',
 'IN_ESPECIFICO_DIR_ADOLESC',
 'IN_ESPECIFICO_AFRO',
 'IN_ESPECIFICO_OUTROS',
 'IN_ESPECIFICO_NENHUM',
 'TP_TIPO_DOCENTE',
 'TP_TIPO_CONTRATACAO',
 'ID_TURMA',
 'TP_TIPO_TURMA',
 'TP_MEDIACAO_DIDATICO_PEDAGO',
 'IN_ESPECIAL_EXCLUSIVA',
 'IN_REGULAR',
 'IN_EJA',
 'IN_PROFISSIONALIZANTE',
 'TP_ETAPA_ENSINO',
 'CO_CURSO_EDUC_PROFISSIONAL',
 'CO_REGIAO',
 'CO_MESORREGIAO',
 'CO_MICRORREGIAO',
 'CO_ENTIDADE',
 'CO_UF',
 'CO_MUNICIPIO',
 'CO_DISTRITO',
 'TP_DEPENDENCIA',
 'TP_LOCALIZACAO',
 'TP_CATEGORIA_ESCOLA_PRIVADA',
 'IN_CONVENIADA_PP',
 'TP_CONVENIO_PODER_PUBLICO',
 'IN_MANT_ESCOLA_PRIVADA_EMP',
 'IN_MANT_ESCOLA_PRIVADA_ONG',
 'IN_MANT_ESCOLA_PRIVADA_SIND',
 'IN_MANT_ESCOLA_PRIVADA_SIST_S',
 'IN_MANT_ESCOLA_PRIVADA_S_FINS',
 'TP_REGULAMENTACAO',
 'TP_LOCALIZACAO_DIFERENCIADA',
 'IN_EDUCACAO_INDIGENA']